<!-- <div class="container">
  <h1 class="username">{{ user.username }}</h1>
  <h3 class="user-email">Email: {{ user.email }}</h3>
</div>

<div>
  <a class="btn btn-outline-light btn-lg" (click)="goToHome()" role="button">Home</a>
</div>

<app-friend-list></app-friend-list>

<div class="profile-body">
  <div class="totalmatch bodydiv">
    <h4>Total Matches</h4>
    <h5>{{user.totalMatches}}</h5>
  </div>
  <div class="totalwin bodydiv">
    <h4>Total Wins</h4>
    <h5>{{user.totalWins}}</h5>
  </div>
  <div class="winsteak bodydiv">
    <h4>Win Steak</h4>
    <h5>{{user.winStreak}}</h5>
  </div>
  <div class="shotstreak bodydiv">
    <h4>Shot Steak</h4>
    <h5>{{user.shotStreak}}</h5>
  </div>
  <div class="profile-body">
    
  </div>
</div> -->

<!-- <div class="profile-header">
  <div class="row align-items-center">
    <div class="col-md-2 mb-3">
    </div>
    <div class="col-md text-center text-md-left">
      <h2 class="username">{{ user.username }}</h2>
      <h3 class="useremail">{{ user.email }}</h3>
    </div>

    <div>
      <a class="homebtn btn" (click)="goToHome()" role="button">Home</a>
    </div>
  </div>
</div> -->
<div class="profile-body">
  <div class="totalmatch bodydiv">
    <h4>Total Matches</h4>
    <h5>{{user.totalMatches}}</h5>
  </div>
  <div class="totalwin bodydiv">
    <h4>Total Wins</h4>
    <h5>{{user.totalWins}}</h5>
  </div>
  <div class="winsteak bodydiv">
    <h4>Win Steak</h4>
    <h5>{{user.winStreak}}</h5>
  </div>
  <div class="shotstreak bodydiv">
    <h4>Shot Steak</h4>
    <h5>{{user.shotStreak}}</h5>
  </div>
  <div class="profile-body">
    <app-friend-list></app-friend-list>
  </div>