.container {
  margin-top: 50px;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  float: left;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 50px;
  padding: 20px;
}

.user-email {
  padding: 0 20px 20px 20px;
}

.btn {
  position: absolute;
  font-size: 40px;
  right: 200px;
  top: 90px;
}

.profile-body {
  height: 100vh;
}

.bodydiv{
  background-color: white;
  width: 250px;
  height: 125px;
  text-align:center;
  border-radius:5px;
}
.totalmatch {
  position: absolute;
  left: 900px;
  top: 300px;
}
.totalwin {
  position: absolute;
  left: 1200px;
  top: 300px;
}
.winsteak {
  position: absolute;
  left: 900px;
  top: 500px;
}
.shotstreak {
  position: absolute;
  left: 1200px;
  top: 500px;
}
h4{
    margin-top:10px;
    margin-bottom:20px;
}
