<!-- <div class="username square">
  <app-logout-button></app-logout-button>
  <span>Hello, {{user.username}}</span> -->

  <!--src/app/pages/profile/profile.component.html-->

<div class="profile-header">
  <div class="row align-items-center">
    <div class="col-md-2 mb-3">
      <!-- <img [src]="user.picture"
            alt="User's profile picture"
            class="rounded-circle img-fluid profile-picture userimg" /> -->
    </div>
    <div class="col-md text-center text-md-left">
      <h2 class="username">{{ user.username }}</h2>
      <h3 class="useremail">{{ user.email }}</h3>
    </div>

    <div>
      <a class="btn" (click)="goToHome()" role="button">Home</a>
    </div>
  </div>
</div>
<div class="profile-body">
  <div class="totalmatch bodydiv">
    <h4>Total Matches</h4>
    <h5>{{user.totalMatches}}</h5>
  </div>
  <div class="totalwin bodydiv">
    <h4>Total Wins</h4>
    <h5>{{user.totalWins}}</h5>
  </div>
  <div class="winsteak bodydiv">
    <h4>Win Steak</h4>
    <h5>{{user.winStreak}}</h5>
  </div>
  <div class="shotstreak bodydiv">
    <h4>Shot Steak</h4>
    <h5>{{user.shotStreak}}</h5>
  </div>
  <div>
    <app-friend-list></app-friend-list>
  </div>
