<div class="username-box">
  <!-- <app-logout-button></app-logout-button> -->
  <span class="greeting">Hello, {{user.username}}</span>
  <app-profilebutton></app-profilebutton>
</div>
<div class="ready">
  <app-ready></app-ready>
</div>
<div class="profile">
  <span class="greeting2">Win Streak: {{user.winStreak}}</span>
  <span class="greeting2">Shot Streak: {{user.shotStreak}}</span>
  <p></p>
  <span class="greeting2">Total Wins: {{user.totalWins}} </span>
  <span class="greeting2">Total Matches: {{user.totalMatches}}</span>
</div>
<div class="leaderboard">
  <app-leaderboard></app-leaderboard>
</div>
<div class="lobbychat">
  <h2>Lobby Chat</h2>
  <app-chat></app-chat>
</div>