<div class="container">
  <div class="username-box">
    <div class="greeting">Hello, <span>{{user.username}}</span></div>
    <app-profilebutton></app-profilebutton>
  </div>

  <app-ready></app-ready>
</div>

<div class="container">
  <div class="leaderboardcontainer">
    <h3>Leaderboard</h3>
      <table class="table table-hover">
        <thead>
          <th>Rank</th>
          <th style="padding-left: 50px;">Name</th>
          <th style="padding-left: 150px;">Wins</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td class="counterCell"></td>
            <td style="padding-left: 50px;">{{user.username}}</td>
            <td style="padding-left: 150px;">{{user.totalWins}}</td>
          </tr>
        </tbody>
      </table>

      <!-- <hr>

      <div class="profile">
        <span class="stat">Win Streak: {{user.winStreak}}</span>
        <span class="stat">Shot Streak: {{user.shotStreak}}</span>
        <span class="stat">Total Wins: {{user.totalWins}} </span>
        <span class="stat">Total Matches: {{user.totalMatches}}</span>
      </div> -->
  </div>

  <div class="lobbychat">
    <h3 class="lobby">Lobby Chat</h3>
    <app-chat></app-chat>
  </div>
</div>

<script>
  var i = 1;
</script>