<div class="username-box">
  <!-- <app-logout-button></app-logout-button> -->
  <span class="greeting">Hello, {{user.username}}</span>
  <app-profilebutton></app-profilebutton>
</div>
<div class="ready">
  <app-ready></app-ready>
</div>
<div class="profile">
  <span class="greeting2">Win Streak: {{user.winStreak}}</span>
  <span class="greeting2">Shot Streak: {{user.shotStreak}}</span>
  <p></p>
  <span class="greeting2">Total Wins: {{user.totalWins}} </span>
  <span class="greeting2">Total Matches: {{user.totalMatches}}</span>
</div>
<div class="leaderboard">
  <app-leaderboard></app-leaderboard>
</div>
<div class="lobbychat">
  <h2>Lobby Chat</h2>
  <app-chat></app-chat>
</div>
<!-- <div class="gamelink square">
  <p>gamelink</p>
</div> -->
<!-- <div class="ships">
  <p>ships</p>
</div>
<div class="layout">
  <p>current layout</p>
</div> -->
<!-- <div class="rotate">
  <p>rotate</p>
</div>
<div class="random">
  <p>random</p>
</div>
<div class="clear">
  <p>clear</p>
</div> -->
<!-- <div class="usedefault">
  <p>use default</p>
</div>
<div class="savedefault">
  <p>save as default</p>
</div> -->