
<div class="username square">
  <span>Hello, {{user.name}}</span>
  <button class="btn btn-default" (click)="{ returnTo: rootUrl}">Log out</button>

</div>
<div class="gamelink square">
  <p>gamelink</p>
</div>
<div class="playnow square">
  <p>playnow</p>
</div>
<div class=" playwithfriend square">
  <p>playwithfriend</p>
</div>
<div class="profile round">
  <p>profile</p>
  <p>{{user.winStreak}}</p>
  <p>{{user.shotStreak}}</p>
  <p>{{user.totalWins}}</p>
  <p>{{user.totalMatches}}</p>
</div>
<div class="leaderboard round">
  <p>leaderboard, this will be create as component and import as app-leaderboard</p>
</div>
