div {
  background-color: LightGray;
  text-align:center;

}
.round{
    border-radius:8px
}
.username{
    position:absolute;left:200px; top:50px;
    width:500px;
    height:50px;
    line-height:50px;
}
.gamelink {
  position: absolute;
  left: 200px;
  top: 150px;
  width: 500px;
  height: 50px;
  line-height: 50px;
}
.titlecard {
  position: absolute;
  left: 200px;
  top: 250px;
}
/*.ship{

}*/
/*.playnow {
  position: absolute;
  left: 250px;
  top: 300px;
  width: 150px;
  height: 100px;
  line-height: 100px;
}
.playwithfriend {
  position: absolute;
  left: 500px;
  top: 300px;
  width: 150px;
  height: 100px;
  line-height: 100px;
}

.profile {
  position: absolute;
  left: 200px;
  top: 500px;
  width: 500px;
  height: 190px;
}

.leaderboard {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 500px;
  height: 600px;
}

*/
