<!--
src/app/components/authentication-button/
  authentication-button.component.html
-->

<div class="container" *ngIf="(auth.isAuthenticated$ | async) === false">
      <app-login-button></app-login-button>
      <app-signup-button></app-signup-button>
      <app-play-as-guest></app-play-as-guest>
</div>

<div class="container" *ngIf="(auth.isAuthenticated$ | async) === true">
  <app-play-button></app-play-button>
  <app-logout-button *ngIf="auth.isAuthenticated$ | async"> </app-logout-button>
</div>